.footer {
    background: #191919;
}

.footer__wrapper {
    padding: 60px 0 32px;
}

.footer__wrapper-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 60px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    column-gap: 110px;
}

.footer__logo {
    margin-top: 13px;
}

.footer__columns {
    display: flex;
    column-gap: 24px;
    flex: 1;
}

.footer__events, .footer__contacts {
    max-width: 416px;
    width: 100%;
}

.footer__title {
    display: inline-block;
    font-family: "EBGaramond Bold";
    font-size: 24px;
    line-height: 33.6px;
    margin-bottom: 32px;
}

.footer__item {
    font-family: "Fira-Sans Regular";
}

.footer__events > .footer__list > .footer__item {
    display: inline-block;
}

.footer__events > .footer__list > .footer__item:not(:last-child) {
    margin-right: 24px;
}

.footer__contacts > .footer__list > .footer__item:not(:last-child) {
    margin-bottom: 24px;
}

.footer__copyright {
    display: block;
    font-family: "Fira-Sans Regular";
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 32px;
}